  :root {
    --textfarbe: #e0e0e0;
    --wichtige-textfarbe: #3274ED;
    --kleiner-textfarbe: #333;
    --button-farbe: #3274ED;
    --buttonhoverfarbe: #6999F2;
    --hintergrundfarbe: #1a1a1a;
    --rahmenfarbe: #afababb4;
    --kartenhintergrund: #2e2c2c;
    --text-schatten: rgba(0,0,0,0.4);
}

body {
    background-color: var(--hintergrundfarbe);
    color: var(--textfarbe);
}

.contact-container {
    max-width: 600px;
    margin: 80px auto;
    padding: 20px;
    background-color: var(--kartenhintergrund);
    border: 1px solid var(--rahmenfarbe);
    border-radius: 10px;
    box-shadow: 0 4px 10px var(--text-schatten);
    display: flex;
    flex-direction: column;
}


.contact-container h2 {
    text-align: center;
    text-decoration: underline var(--wichtige-textfarbe);
}
h2 {
    text-align: center;
    margin-bottom: 20px;
}
label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}
input, textarea, button {
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--rahmenfarbe);
    box-sizing: border-box;
  }
button {
    background-color: var(--button-farbe);
    color: var(--textfarbe);
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-top: 20px;
  }
button:hover {
    background-color: var(--buttonhoverfarbe);
}
.success {
    color: green;
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
}
.error {
    color: red;
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
}