:root {
    --textfarbe: #e0e0e0;
    --wichtige-textfarbe: #3274ED;
    --kleiner-textfarbe: #aaa;
    --hintergrundfarbe: #1a1a1a;
    --kartenhintergrund: #2e2c2c;
    --input-hintergrund: #3a3838;
    --rahmenfarbe: #555;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var(--hintergrundfarbe);
    color: var(--textfarbe);
    font-family: 'Segoe UI', sans-serif;
}

.contact-wrapper,
.faq-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 200px);
    padding: 120px 20px 50px;
}

.contact-container,
.faq-container {
    background: var(--kartenhintergrund);
    padding: 40px 30px;
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0,0,0,.4);
}

.contact-container {
    max-width: 420px;
    width: 100%;
}

label {
    display: block;
    margin-top: 15px;
    color: var(--kleiner-textfarbe);
}

input, textarea {
    width: 100%;
    margin-top: 8px;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid var(--rahmenfarbe);
    background: var(--input-hintergrund);
    color: var(--textfarbe);
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.2);
}

input:focus, textarea:focus {
    border-color: var(--wichtige-textfarbe);
    box-shadow: 0 0 10px rgba(50,116,237,0.4);
    outline: none;
}

button {
    margin-top: 20px;
    width: 100%;
    padding: 14px;
    border-radius: 12px;
    border: none;
    background: var(--wichtige-textfarbe);
    color: white;
    cursor: pointer;
}

button:hover {
    background: #2558c2;
    transform: translateY(-2px);
    transition: all 0.2s ease;
}

.section-separator {
    height: 4px;
    width: 60%;
    margin: 50px auto;
    background: linear-gradient(to right, transparent, var(--wichtige-textfarbe), transparent);
    border-radius: 2px;
}

.faq-container {
    width: 80%;
    max-width: 800px;
    text-align: center;
}

.faq-container h2 {
    margin-bottom: 30px;
    font-size: 2rem;
    text-decoration: underline var(--wichtige-textfarbe);
}

.faq-item {
    background: var(--input-hintergrund);
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 15px;
    cursor: pointer;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-question h3 {
    font-size: 1.2rem;
    font-weight: 600;
}

.arrow {
    font-size: x-large;
    display: inline-block;
    transition: transform 0.3s ease, color 0.3s ease;
    color: var(--wichtige-textfarbe);
}
.faq-item.active .arrow {
    transform: rotate(45deg);
    color: #55aaff;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, opacity 0.3s ease;
    opacity: 0;
    padding: 0 0;
}

.faq-answer-content {
    overflow: hidden;
    background-color: var(--hintergrundfarbe);
    padding: 20px;
    border-radius: 12px;
}

.faq-item.active .faq-answer {
    max-height: 500px;
    opacity: 1;
    padding: 20px 0;
}