:root {
    --textfarbe: #e0e0e0;
    --wichtige-textfarbe: #3274ED;
    --kleiner-textfarbe: #333;
    --button-farbe: #3274ED;
    --buttonhoverfarbe: #6999F2;
    --hintergrundfarbe: #1a1a1a;
    --rahmenfarbe: #afababb4;
    --kartenhintergrund: #2e2c2c;
    --text-schatten: rgba(0,0,0,0.4);
}

body {
    background-color: var(--hintergrundfarbe);
    color: var(--textfarbe);
}

.contact-section {
    max-width: 600px;
    margin: 80px auto;
    padding: 20px;
    background-color: var(--kartenhintergrund);
    border: 1px solid var(--rahmenfarbe);
    border-radius: 10px;
    box-shadow: 0 4px 10px var(--text-schatten);
    display: flex;
    flex-direction: column;
}

.contact-section h1 {
    text-align: center;
    text-decoration: underline var(--wichtige-textfarbe);
}