  :root {
    --textfarbe: #e0e0e0;
    --wichtige-textfarbe: #3274ED;
    --kleiner-textfarbe: #333;
    --button-farbe: #3274ED;
    --buttonhoverfarbe: #6999F2;
    --hintergrundfarbe: #1a1a1a;
    --rahmenfarbe: #afababb4;
    --kartenhintergrund: #2e2c2c;
}
  
body {
    font-family: Arial, sans-serif;
    background-color: var(--hintergrundfarbe);
  }
.contact-container {
    background-color: var(--kartenhintergrund);
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
  }
.contact-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
  }
input, textarea, button {
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--rahmenfarbe);
    box-sizing: border-box;
  }
button {
    background-color: var(--button-farbe);
    color: var(--textfarbe);
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-top: 20px;
  }
button:hover {
    background-color: var(--buttonhoverfarbe);
  }
.success {
    color: green;
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
  }
.error {
    color: red;
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
  }